main {
    font-family: 'Public Sans', sans-serif;
    color: #fff;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.paintings {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 1px;
    width: 100%;
}

.paintings .item {
    position: relative;
    max-height: 432px;
}

.paintings .item h2,
.paintings .item p {
    position: absolute;
    left: 25px;
}

.painting-name {
    font-weight: 700;
    font-size: 30px;
    top: 350px;
}

.painter {
    font-size: 17px;
    font-weight: 300;
    top: 390px;
}