/* seletor::pseudo-elemento {
    propriedade: valor;
} */

.first-letter::first-letter {
    color: coral;
}

.first-line::first-line {
    color: dodgerblue;
}

li::marker {
    color: red;
    font-size: 23px;
}

.before::before {
    content: url(./images/mario-icon.ico);
}

.after::after {
    content: url(./images/mario-icon.ico);
}