h2 {
    background-color: blueviolet;
    color: azure;
}

p {
    color: blueviolet;
    font-size: 24px;
}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: violet;
}