* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

ul, ol, li {
    list-style: none;
}

a, a:visited {
    text-decoration: none;
    color: #000;
}

@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');