.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 128px;
    padding: 30px;
    font-family: 'Public Sans', sans-serif;
}

.logo-and-name {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    color: #000;
}

.menu {
    display: flex;
    font-size: 15px;
    font-weight: 400;
}

.menu-item {
    padding: 18px;
}

.sobre, .button {
    background-color: #5BC241;
    color: #fff;
}

.button {
    border-radius: 10px;
    font-weight: 300;
}